@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 70px;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: "Satisfy", cursive;
  font-size: 32px;
  line-height: 30px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.navbar h2 {
  font-size: 32px;
}
.navbar img {
  width: 30px;
}

/* ---------------Navbar Styling Ends----------------------- */

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  margin-top: 50px;
}

main .varieties {
  /* background-color: aqua; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.varieties__section > h2 {
  text-align: center;
  font-size: 34px;
  line-height: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #2b2b2b;
  letter-spacing: 0.5rem;
  margin-bottom: 10px;
}

.varieties__section span.border-bottom {
  display: block;
  width: 80px;
  height: 3px;
  background-color: #342679;
  margin: auto;
  margin-top: 10px;
}

.varieties__section .varieties__cards {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
