@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #ffffff;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(146, 146, 146);
}

header {
  width: 100%;
  height: 70px;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: "Satisfy", cursive;
  font-size: 32px;
  line-height: 30px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.navbar h2 {
  font-size: 32px;
}
.navbar img {
  width: 30px;
}

/* ---------------Navbar Styling Ends----------------------- */
main {
  padding: 0 2rem;
  height: 100vh;
  width: 100vw;
}

main .varieties {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.varieties .varieties__header > h2 {
  text-align: center;
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 0;
  color: #2b2b2b;
  line-height: 50px;
}

.varieties .varieties__header span {
  display: block;
  background-color: #342679;
  width: 60px;
  height: 3px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.varieties .varieties__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  font-family: "Poppins", sans-serif;
}

.varieties .varieties__cards .varieties__large-card {
  width: 100%;
  height: 620px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: url(./Bitmap.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.varieties .varieties__cards .varieties__large-card .card-info {
  background-color: rgba(52, 38, 121, 0.8);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  color: white;
}
.varieties .varieties__cards .varieties__large-card .card-info h2 {
  font-size: 20px;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.varieties .varieties__cards .varieties__large-card .card-info p {
  font-size: 12px;
  font-weight: 500;
}

.varieties .varieties__cards .varieties__large-card .card-info .card__footer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  outline: none;
  height: 40px;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.8rem;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 12px;
}
.btn:hover {
  background: #fff;
  color: #000;
  transition: all 200ms ease;
}

.btn span {
  font-size: 12px;
}

.card__footer .card__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  cursor: pointer;
}
.varieties .varieties__cards .card__footer .card__rating p {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 12px;
}

.varieties .varieties__small-cards {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  place-items: center;
}

.varieties .varieties__small-cards .varieties__small-card-body {
  height: 100%;
  width: 100%;
  background: url(./Bitmap.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

.varieties__small-card-body .small-card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(256, 256, 256, 0.8);
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  gap: 0.2rem;
  height: 50%;
}
.varieties__small-card-body .small-card-info h2 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.varieties__small-card-body .small-card-info p {
  font-size: 12px;
  font-weight: 500;
}

.varieties__small-card-body .small-card-info .card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}
.small {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  outline: none;
  border: none;
  height: 40px;
  background: transparent;
  color: #2b2b2b;
  padding: 0.8rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 12px;
}

.varieties .varieties__info {
  width: 100%;
  margin-top: 2rem;
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.varieties .varieties__info h2 {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 18px;
}

.varieties .varieties__info p {
  margin-bottom: 5rem;
  font-weight: 500;
  font-size: 16px;
}

/* ----------------Chef Section Styling---------------- */

.chefs {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.chefs .chefs__header {
  width: 100%;
  height: 20%;
  padding: 0.5rem;
}
.chefs .chefs__header h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 34px;
  text-align: center;
}
.chefs .chefs__header span {
  display: block;
  background-color: #342679;
  width: 60px;
  height: 3px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.chefs .chefs__main-section {
  background: #000;
  width: 100%;
  height: 80%;
  background: url(./bgchef.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chefs .chefs__main-section .chefs-info {
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
}

.chefs .chefs__main-section .chefs-info .main-chef-info {
  background-color: white;
  color: black;
  width: 320px;
  height: 250px;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.chefs .chefs__main-section .chefs-info .main-chef-info .image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  object-fit: contain;
  border-radius: 50%;
}
.chefs .chefs__main-section .chefs-info .main-chef-info .image img {
  width: 100%;
  height: 100%;
}
.chefs .chefs__main-section .chefs-info .main-chef-info h2 {
  font-size: 20px;
  font-weight: 700;
}
.chefs .chefs__main-section .chefs-info .main-chef-info p {
  font-size: 12px;
  font-weight: 500;
}

.chefs .chefs__main-section .chefs-info .chef-info {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chefs .chefs__main-section .chefs-info .chef-info .image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  object-fit: contain;
  border-radius: 50%;
}
.chefs .chefs__main-section .chefs-info .chef-info .image img {
  width: 100%;
  height: 100%;
}
.chefs .chefs__main-section .chefs-info .chef-info h2 {
  font-size: 20px;
  font-weight: 700;
}
.chefs .chefs__main-section .chefs-info .chef-info p {
  font-size: 14px;
  font-weight: 500;
}

/* Chef Section Ends */

.food-guide {
  width: 100%;
  height: 100%;
  background: url(./4th\ Food\ Banner\ 3.png);
  background-color: #2b2b2b;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food-guide .food-guide__header {
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.food-guide .food-guide__header h2 {
  font-weight: 400;
}

.food-guide .food-guide__header span {
  display: block;
  background-color: #342679;
  width: 60px;
  height: 3px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.food-guide .food-guide__main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.food-guide .food-guide__main > div {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: 400px;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.food-guide .food-guide__main > div .img {
  background: #342679b2;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.food-guide .food-guide__main > div .img img {
  width: 50%;
  height: 50%;
}

.food-guide .food-guide__main > div h3 {
  font-size: 14px;
  text-transform: uppercase;
}

.food-guide .food-guide__main > div p {
  font-size: 12px;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #fff;
}

main .footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 2rem;
  margin-top: 5rem;
}

.footer .icon {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 0.2rem;
  overflow: hidden;
  cursor: pointer;
}

.footer .icon img {
  width: 100%;
  height: 100%;
}
